body {
    margin: 0;
    padding: 0;
    background-image: url('pre-bg.jpg');
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;     /* horizontal centering */
    text-align: center;      /* center text inside each element */
}

h1 {
    font-size: 6rem;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    margin-bottom: 2rem;
    margin-top: 0;
}

p {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    margin-top: 0;
    font-size: 1.25rem;
}


.frost-box {
    background: rgba(255, 255, 255, 0.1); /* transparent white */
    backdrop-filter: blur(12px);          /* the frost effect */
    -webkit-backdrop-filter: blur(12px);  /* Safari support */
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    max-width: 700px;
    text-align: center;
    margin: 2rem;
    margin-top: 0;
}

h2 {
    color: white;
    font-weight: bold;
    font-style: italic;
        font-size: 2rem;

}